body {
    font-family: 'Ubuntu', sans-serif;
}

header {
    font-size: 3em;
    text-align: center;
    padding: 20px 20px 0;
}

form {
    display: grid;
    margin: 0 15% 0 15%;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#personal-info {
    display: grid;
    align-items: center;
    justify-items: center;
}

fieldset {
    border: none;
}